/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  text-align: center;
  margin: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAACqADAAQAAAABAAAACgAAAAA7eLj1AAAAZUlEQVQYGWMUzlP9z4AErCMZGI4uRxKAMpmQhUCKQABGQ3gQEkUhsgQ6G64Q3RR0PlwhugnofLBCdN0wRcjiGCaaT3oBU4dCMyHrQpGBcmDyLOhhZg5UgC4G0oNhdZ+oBNQsVAoAuYwN1ogo6tcAAAAASUVORK5CYII=) repeat;
}

h1 {
  color: #373fff;
  font-size: 6em;
  margin-block-end: 0em;
  margin-block-start: 0em;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
}

.button {
  background-color: #373fff;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: hidden;
  font-size: 16px;
  margin: 2px 2px;
  border-radius: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 70px;
  width: 70px;
  font-size: 50px;
  padding-top: 0px;
  padding-left: 18px;
}

button {
  background-color: #373fff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}